.container {
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    padding: 5px;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}




