.popup {
  transform: translate(400px, 300px);
  position: relative;
  cursor: pointer;
}

.popupText {
  visibility: hidden;
  background-color: #ccc;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  top: -50px;
  left: -10px;
}


.popup .show {
  visibility: visible;
  animation: fadeIn;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}