.collapse-sidebar {
    position: fixed;
    height: 100%;
    width: 0px;
    background-color: #ccc;
    overflow: auto;
    display: none;
    transition: 0.3s;
    animation: col 0.3s linear;
}

@keyframes col {
    0% {
        width: 0px;
    }
    100% {
        width: 200px;
    }
}
.collapse-sidebar  a {
    display: block;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

a.active {
    background-color: rgb(102, 211, 102);
}

a:hover:not(:active) {
    background-color: #555;
}

.collapse-content {
    padding-top: 1px;
    margin-left: 0px;
    padding-left: 10px;
    transition: 0.3s;
}

