#snackbar {
    visibility: hidden;
    position: fixed;
    bottom: 100px;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    left: 40vw;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

#snackbar.show {
    visibility: visible;
}

@keyframes fadeIn {
    from {
        bottom: 0px;
        opacity: 1;
    }
    to{
        bottom: 100px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        bottom: 100px;
        opacity: 1;
    }
    to {
        bottom: 0px;
        opacity: 0;
    }
}