.loader {
    height: 120px;
    width: 120px;
    border: 15px solid #ccc;
    border-radius: 50%;
    border-top: 15px solid blue;
    animation: spin 2s linear  infinite ;
}

@keyframes spin {
    0% {
        
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}