
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > label:after { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
}
.rating > input:checked ~ label,
.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label
 {
    color: #FFD700;
}



/* .rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
    color: #FFD700;
}

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }  */