.flip-card {
    height: 300px;
    width: 300px;
}

.inner-card {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.flip-card:hover .inner-card {
    transform: rotateY(180deg);
}

.front , .back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: transparent;
}

.back {
    background-color: green;
    color: white;
    transform: rotateY(180deg);
}

