.nav {
    background-color: #ccc;
    padding: 10px;
    overflow: hidden;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: rgba(0, 0, 0, 0.779);
    font-size: 15px;
    float: left;
}

.nav input[type="text"] {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    height: 20px;
    border: none;
    outline: none;
}

@media screen and (max-width: 600px) {
    .nav a, .nav input[type="text"] {
        display: block;
        float: none;
        text-align: center;
        width: 100%;
    }
}

